<div class="container">
  <div class="item item1">
    <form th:action="@{/scheduledHoliday}" th:object="${ScheduledHolidayView}" method="post">
      <p class="message-text"> {{message}} </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{companyCode}}</mat-label>
          <input placeholder={{companyCode}} matInput />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{userID}}</mat-label>
          <input placeholder={{userID}} matInput />
        </mat-form-field>
      </p>
      <p class="button-container">
        <button type="button" mat-raised-button color="basic" color="primary" (click)="closeDialog()">
          {{cancel}}
        </button>
        <button type="button" mat-raised-button color="basic" color="primary" (click)="sendRequest()">
          {{send}}
        </button>
      </p>
    </form>
  </div>
</div>