<div class="container">
    <div class="item item1">
        <p>
            <img src="../images/Logo-2.jpg" />
            <button style="float: right;" mat-raised-button color="basic" color="primary">
                {{ back }}
            </button><br>
        </p>
        <h1>{{ title }}</h1>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ memberId }}</mat-label>
                <input type="memberId" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ memberName }}</mat-label>
                <input type="memberName" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-select [placeholder]="boss">
                    <mat-option *ngFor="let boss of bossList" [value]="boss">
                        {{ boss }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-select [placeholder]="userPrivileges">
                    <mat-option *ngFor="let userPrivilege of userPrivilegesList" [value]="userPrivilege">
                        {{ userPrivilege }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-select [placeholder]="employmentStatus">
                    <mat-option *ngFor="let employmentStatus of employmentStatusList" [value]="employmentStatus">
                        {{ employmentStatus }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ userId }}</mat-label>
                <input type="userId" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ userId }}</mat-label>
                <input type="userId" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ joiningDate }}</mat-label>
                <input matInput [placeholder]="joiningDate" [matDatepicker]="DatePicker1" />
                <mat-datepicker-toggle matSuffix [for]="DatePicker1"></mat-datepicker-toggle>
                <mat-datepicker #DatePicker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ contractStartDate }}</mat-label>
                <input matInput [placeholder]="contractStartDate" [matDatepicker]="DatePicker2" />
                <mat-datepicker-toggle matSuffix [for]="DatePicker2"></mat-datepicker-toggle>
                <mat-datepicker #DatePicker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ retirementDate }}</mat-label>
                <input matInput [placeholder]="retirementDate" [matDatepicker]="DatePicker3" />
                <mat-datepicker-toggle matSuffix [for]="DatePicker3"></mat-datepicker-toggle>
                <mat-datepicker #DatePicker3></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ grantDate }}</mat-label>
                <input matInput [placeholder]="grantDate" [matDatepicker]="DatePicker4" />
                <mat-datepicker-toggle matSuffix [for]="DatePicker4"></mat-datepicker-toggle>
                <mat-datepicker #DatePicker4></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>非勤務日数</mat-label>
                <input type="memberId" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ mailAddress1 }}</mat-label>
                <input type="memberId" matInput (input)="checkMailAddress($event, 0)" />
                <mat-hint>{{ mailAddressHint[0] }}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ mailAddress2 }}</mat-label>
                <input type="memberId" matInput />
                <mat-hint>{{ mailAddressHint[1] }}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ mailAddress3 }}</mat-label>
                <input type="memberId" matInput />
                <mat-hint>{{ mailAddressHint[2] }}</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <button mat-raised-button color="basic" color="primary">
                {{ cancel }}
            </button>
            <button mat-raised-button color="basic" color="primary">
                {{ registration }}
            </button>
        </p>
    </div>
</div>