body{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
	width: 800px;

}
form dl dt{
	width:100px;
	float:left;
	clear:both;
}
a.cp_btn {
	position: relative;
	display: block;
	width: 250px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
a.cp_btn:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
