body{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
	width: 800px;
}
form dl dt{
	width:100px;
	float:left;
	clear:both;
}
h1 {
	color:blue;
	font-family: "游ゴシック",sans-serif ;
}
h2{
	color:blue;
	font-famity:'メイリオ';
}
h3{
	color:blue;
	font-famity:'メイリオ';
}
body {
	font-famity:'MSゴシック',sans-serif;
}
