.container {
  width: 100%;
  height: 100%;
}

.mat-raised-button {
  height: 40px;
  width: 150px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.item1 {
  width: 500px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14pt;
  font-family: "Meiryo UI", monospace;
}
